*.db3
*.db3-journal
*.txt
*.pyc
Local_scripts/2to3.py
Local_scripts/plounge.db3-old
*.png
*.html
*.cys
*.zip
*.json
Local_scripts/mptest.py
*.css
Local_scripts/test.py
*.txt
*.log
*.txt
Local_scripts/statsWeek.txt
*.txt